# Nested repo (keep it separate)
recommendation-systems-rule-base/

/.idea/
/.vscode/
.DS_Store
Thumbs.db

# Spring Boot / Maven
sb-ecom/target/
sb-ecom/*.iml
sb-ecom/.mvn/wrapper/maven-wrapper.jar
sb-ecom/src/main/resources/application.properties

# Node / Vite
ecom-fe/Sellzy/node_modules/
ecom-fe/Sellzy/dist/
ecom-fe/Sellzy/.vite/
ecom-fe/Sellzy/.env*

# FastAPI / Python / dbt
.venv/
**/.venv/
**/__pycache__/
**/*.pyc
recommendation-systems-rule-base/logs/
recommendation-systems-rule-base/docker/postgres_data/
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Logs & misc
*.log
logs/
ehthumbs.db
Desktop.ini

